mothur*logfile

code/mothur/*
data/*/*
!data/raw/primer.oligos
!data/raw/metadata.tsv
!data/raw/taxa_colour.tsv
!data/raw/colour_environment.R
!data/raw/colour_individual.R
!data/raw/colour_month.R
!data/raw/linetype_site.R
!data/raw/theme.R
!data/raw/NC_24025-0094_all_R1.fastq
!data/raw/NC_24025-0094_all_R2.fastq
!data/raw/NC_24025-0172_all_R1.fastq
!data/raw/NC_24025-0172_all_R2.fastq
!data/raw/README.md
!data/mothur/README.md
!data/references/atcc_v4.fasta
!data/references/README.md
submission/*_cache

